@model IEnumerable<Reef.Models.RelayChannelModels>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.DisplayNameFor(model => model.Channel.Description)
    </div>
    <div class="col-md-4">
        @Html.DisplayNameFor(model => model.Channel.Value)
    </div>
    <div class="col-md-4">
        @Html.DisplayNameFor(model => model.Channel.Default_Value)
    </div>
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            @Html.DisplayFor(modelItem => item.Channel.Description)
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(modelItem => item.Channel.Value)
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(modelItem => item.Channel.Default_Value)
        </div>
    }
</div>